/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  padding: 30px;
  .page-title {
    font-size: 40px;
    color: #333;
  }
  .page-description {
    color: #777;
  }
}

.mat-snack-bar-container {
  color: #fff;
  &.success {
    background-color: #198754;
  }
  &.error {
    background-color: #dc3545;
  }
}
